#!/usr/bin/make -f

launcher = $(CURDIR)/sammelbox.desktop
icon = $(CURDIR)/sammelbox.svg
script = $(CURDIR)/sammelbox.sh
jar = $(CURDIR)/sammelbox.jar

USR_SHARE_SAMMELBOX = $(CURDIR)/debian/sammelbox/usr/share/sammelbox
USR_SHARE_APPLICATIONS = $(CURDIR)/debian/sammelbox/usr/share/applications
USR_SHARE_ICONS = $(CURDIR)/debian/sammelbox/usr/share/icons/hicolor/scalables/apps

build: build-stamp

build-stamp: 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(icon) $(script) $(launcher) $(jar)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(USR_SHARE_SAMMELBOX)
	mkdir -m 755 -p $(USR_SHARE_APPLICATIONS)
	mkdir -m 755 -p $(USR_SHARE_ICONS)

	install -m 666 $(icon) $(USR_SHARE_SAMMELBOX)
	install -m 666 $(icon) $(USR_SHARE_ICONS)
	install -m 666 $(jar) $(USR_SHARE_SAMMELBOX)
	install -m 777 $(script) $(USR_SHARE_SAMMELBOX)
	install -m 777 $(launcher) $(USR_SHARE_APPLICATIONS)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
