<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
		 	<PatternLayout charset="UTF-8" pattern="%d{MM-dd-yyyy @ HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
		</Console>
		<File name="logfile" fileName="${sys:user.home}/Sammelbox/app-data/sammelbox.log">
			<PatternLayout charset="UTF-8" pattern="%d{MM-dd-yyyy @ HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
		</File>
	</appenders>	
	<loggers>
		<logger name="org.jdbcdslog">
		  <level value="warn"/> 
		</logger>
		<root level="info">
			<appender-ref ref="Console"/>
			<appender-ref ref="logfile"/>
		</root>
	</loggers>
</configuration>