# Files generated while compilation or runtime
/logs
/res/information/buildinfo.properties
/target
/release
/package

# Eclipse specific files
/.metadata
/.project
/.classpath
/.settings
/.classpath

